@import "normalize.css";

:root {
  --font-family: "Poppins", sans-serif;

  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
}

// Dark mode support
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #6c63ff;
    --primary-hover: #6c63ff;
    --primary-active: #6c63ff;
    --text-color: #333;
    --primary-bg-color: rgba(0, 0, 0, 0.9);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #f50057;
    --primary-hover: #f50057;
    --primary-active: #f50057;
    --text-color: #333;
    --primary-bg-color: rgba(255, 255, 255, 0.9);
  }
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 200;
  color: var(--text-color) !important;
  text-rendering: optimizespeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
  font-family: var(--font-family);
}

a {
  color: var(--text-color);
  text-decoration: none;
}
